h1{
  color: #1F4E79;
  margin-top: 40px;
  text-align: center;
}

.resume-container {
  text-align: center;
  margin: 40px 0; 
}

.resume-link{
  border: 1px solid #497BAE;
  background-color: #f9fcff;
  padding: 10px 20px;
  color: #497BAE;
  border-radius: 12px;
  border-color: black;
  font-weight: bold;
  
}
.resume-link:hover {
  background-color: #cfe4f3;    
}

body {
  background-color: #F9FCFF;  
  color: #222;            
  margin: 0;
  padding: 0;
  line-height:1.6;
}

h2, h3 {
  color: #497BAE;
  text-align: center;
  margin-top: 10px;
}

.reflection {
  max-width: 800px;
  margin: 30px auto 40px auto;
  padding: 5px 35px 5px 35px;
  background-color: white;
  border-radius: 12px;
}

.reflection p:first-of-type::first-letter {
  float: left;
  font-size: 32px;
  font-weight: bold;
  color: #497BAE;
  line-height: 32px;       
  padding-top: 0;
}

.reflection p:not(:first-of-type) {
  text-indent: 32px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #EAF3FB;  
  font-size: 13px;
  color:#1F4E79;;
  margin-top: 60px;
}

.italic-header {
  font-style: italic;
}

.about {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 35px; 
  background-color: white; 
  border-radius: 12px;      
}

.about p {
  text-indent: 32px;
}